h1, h2 {
  font-family: Lato;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

div {
  text-align: justify;
  text-justify: inter-word;
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
}